version: '3.8'

services:


  backend:
    build: ./backend
    ports:
      - "5000:5000"
   
    environment:
      - MONGO_URI=mongodb://host.docker.internal:27017/project
      - JWT_SECRET=your_secret
      - PORT=5000

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo_data:
